In [70]:
import pandas as pd
import numpy as np

In [2]:
fileName = "IMDb.csv"
df = pd.read_csv(fileName)

In [3]:
df.head()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,NaN,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,537,$ 2250,NaN,NaN,NaN,7.0,7.0
1,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.9,171,NaN,NaN,NaN,NaN,4.0,2.0
2,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,420,$ 45000,NaN,NaN,NaN,24.0,3.0
3,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2019,NaN,NaN,NaN,NaN,28.0,14.0
4,tt0002199,"From the Manger to the Cross; or, Jesus of Naz...","From the Manger to the Cross; or, Jesus of Naz...",1912,1913,"Biography, Drama",60,USA,English,Sidney Olcott,...,"R. Henderson Bland, Percy Dyer, Gene Gauntier,...","An account of the life of Jesus Christ, based ...",5.7,438,NaN,NaN,NaN,NaN,12.0,5.0

In [8]:
extras = ['imdb_title_id','original_title','date_published','language','description','budget',
          'votes','usa_gross_income','worlwide_gross_income','reviews_from_users','reviews_from_critics']

reviewsDf = df.drop(columns=extras)
reviewsDf = reviewsDf.dropna(how='any').reset_index()
reviewsDf.head()

,index,title,year,genre,duration,country,director,writer,production_company,actors,avg_vote,metascore
0,73,Intolerance: Love's Struggle Throughout the Ages,1916,"Drama, History",163,USA,D.W. Griffith,"D.W. Griffith, Anita Loos",Triangle Film Corporation,"Lillian Gish, Mae Marsh, Robert Harron, F.A. T...",7.8,93.0
1,488,Metropolis,1927,"Drama, Sci-Fi",153,Germany,Fritz Lang,"Thea von Harbou, Thea von Harbou",Universum Film (UFA),"Alfred Abel, Gustav Fröhlich, Rudolf Klein-Rog...",8.3,98.0
2,546,The Jazz Singer,1927,"Drama, Music, Musical",88,USA,Alan Crosland,"Samson Raphaelson, Alfred A. Cohn",Warner Bros.,"Al Jolson, May McAvoy, Warner Oland, Eugenie B...",6.5,66.0
3,604,The Circus,1928,"Comedy, Romance",72,USA,Charles Chaplin,Charles Chaplin,Charles Chaplin Productions,"Al Ernest Garcia, Merna Kennedy, Harry Crocker...",8.2,90.0
4,758,Piccadilly,1929,"Drama, Crime",92,UK,Ewald André Dupont,Arnold Bennett,British International Pictures (BIP),"Gilda Gray, Anna May Wong, Jameson Thomas, Cyr...",7.2,89.0

In [55]:
# Splits list with multiple values into a 2d list
def multiLabelSplitter(itemList):
    genre1 = []
    genre2 = []
    genre3 = []
    genreList = [genre1, genre2, genre3]
    
    for items in itemList:
        itemsX = items.split(',')
        
        l = len(itemsX)
        for i,item in enumerate(itemsX):
            item = item.strip()
            genreList[i].append(item)
        
        if l < 2:
            genreList[1].append('None')
        
        if l<3:
            genreList[2].append('None')
        
    return genreList

In [56]:
genreSplit = multiLabelSplitter(reviewsDf['genre'])
# print(genreCodes)

In [60]:
reviewsDf['genre 1'] = genreSplit[0]
reviewsDf['genre 2'] = genreSplit[1]
reviewsDf['genre 3'] = genreSplit[2]

In [72]:
reviewsDf.head()

,title,year,genre,duration,country,director,writer,production_company,actors,avg_vote,metascore,genre 1,genre 2,genre 3
0,Intolerance: Love's Struggle Throughout the Ages,1916,"Drama, History",163,USA,D.W. Griffith,"D.W. Griffith, Anita Loos",Triangle Film Corporation,"Lillian Gish, Mae Marsh, Robert Harron, F.A. T...",78.0,93.0,Drama,History,None
1,Metropolis,1927,"Drama, Sci-Fi",153,Germany,Fritz Lang,"Thea von Harbou, Thea von Harbou",Universum Film (UFA),"Alfred Abel, Gustav Fröhlich, Rudolf Klein-Rog...",83.0,98.0,Drama,Sci-Fi,None
2,The Jazz Singer,1927,"Drama, Music, Musical",88,USA,Alan Crosland,"Samson Raphaelson, Alfred A. Cohn",Warner Bros.,"Al Jolson, May McAvoy, Warner Oland, Eugenie B...",65.0,66.0,Drama,Music,Musical
3,The Circus,1928,"Comedy, Romance",72,USA,Charles Chaplin,Charles Chaplin,Charles Chaplin Productions,"Al Ernest Garcia, Merna Kennedy, Harry Crocker...",82.0,90.0,Comedy,Romance,None
4,Piccadilly,1929,"Drama, Crime",92,UK,Ewald André Dupont,Arnold Bennett,British International Pictures (BIP),"Gilda Gray, Anna May Wong, Jameson Thomas, Cyr...",72.0,89.0,Drama,Crime,None

In [65]:
reviewsDf = reviewsDf.drop(columns=['index'])

In [71]:
vote = np.array(reviewsDf['avg_vote'])
vote *= 10
reviewsDf['avg_vote'] = vote

In [73]:
reviewsDf.to_csv('imdb-AIClass.csv', index = False)